[Desktop Entry]
Type=Application
Name=Rustique Mod Manager
Exec=bash -c '{RUSTIQUE_PATH} install %u {AUTOCLOSE}>> /tmp/rustique.log'
Terminal={SILENT}
StartupNotify=False
MimeType=x-scheme-handler/vintagestorymodinstall;
