[Desktop Entry]
Type=Application
Name=Rustique Mod Manager
Exec=bash -c '{RUSTIQUE_PATH} install %u {AUTOCLOSE} {LOG_PATH}'
Terminal={SILENT}
StartupNotify=False
MimeType=x-scheme-handler/vintagestorymodinstall;
